[project]
	description = :computer: ASSH: Extended ssh configuration (.ssh/config) with regex, aliases, gateways, includes, command execution, variable expansion...
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Manfred Touron (moul)
[access "refs/for/refs/*"]
	read = group user/Manfred Touron (moul)
	push = group user/Manfred Touron (moul)
	label-Code-Review = -2..+2 group user/Manfred Touron (moul)
	label-Verified = -1..+1 group user/Manfred Touron (moul)
	rebase = group user/Manfred Touron (moul)
	removeReviewer = group user/Manfred Touron (moul)
	submit = group user/Manfred Touron (moul)
[access "refs/heads/*"]
	read = group user/Manfred Touron (moul)
	create = group user/Manfred Touron (moul)
	push = +force group user/Manfred Touron (moul)
	pushMerge = group user/Manfred Touron (moul)
[access "refs/tags/*"]
	push = +force group user/Manfred Touron (moul)
	pushTag = group user/Manfred Touron (moul)
	pushSignedTag = group user/Manfred Touron (moul)
